
.vs/VisaoComputadorPlacas/v16/Browse.VC.db
.vs/VisaoComputadorPlacas/v16/Browse.VC.db-shm
.vs/VisaoComputadorPlacas/v16/Browse.VC.opendb
.vs/VisaoComputadorPlacas/v16/Browse.VC.db-wal
.vs/
.VisaoComputadorPlacas/x64/
.x64/Debug